* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100vh;
  width: 100vw;
}

.timer-number {
  font-size: 200px;
  font-weight: bold;
  color: coral;
}

.timer-border-bottom {
  border-bottom: 4px solid black;
}

.button {
  padding: 10px;
  font-size: xx-large;
  border: none;
}

.start-button {
  background-color: blueviolet;
}

.stop-button {
  background-color: brown;
}

/* Global Classes */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mb-2 {
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.mt-2 {
  margin-left: 20px;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}
