* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
}

.counter-app-header {
  font-size: 100px;
  margin-bottom: 50px;
  font-weight: 500;
  color: brown;
  border-bottom: 4px solid cornflowerblue;
}

.counter-container {
  background-color: lightgray;
  border-radius: 5px;
}

.timer-number {
  font-size: 200px;
  font-weight: bold;
  color: coral;
}

.timer-border-bottom {
  border-bottom: 4px solid black;
}

.button {
  width: 150px;
  padding: 10px;
  font-size: xx-large;
  border: none;
}

.start-button {
  background-color: blueviolet;
}

.stop-button {
  background-color: chocolate;
}

.reset-button {
  background-color: cadetblue;
}

/* Global Classes */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.p-2 {
  padding: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mr-2 {
  margin-top: 20px;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}
